<mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your name and current grade level</ng-template>

            <mat-grid-list cols="1" rowHeight="75px">
                <mat-grid-tile>
                    <div class="form-inside-grid">
                        <mat-form-field appearance="fill">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Last name, First name" formControlName="firstCtrl">
                        </mat-form-field>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile>
                    <div class="form-inside-grid">
                        <mat-form-field appearance="fill">
                            <mat-label>Grade Level</mat-label>
                            <input matInput placeholder="109" formControlName="gradeLevel">
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Competency 1">
        <form [formGroup]="secondFormGroup">
            <input matInput hidden formControlName="goodPerson">
        </form>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Being a good person</mat-card-title>
                <mat-card-subtitle>What it looks like to be a good person</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="card-padding">
                    <mat-slider thumbLabel step="1" min="0" max="4"
                        aria-label="units" [(ngModel)]="value" (change)="updateForm(value)"
                        (input)="updateLabel($event)">
                    </mat-slider>
                    <h2>Competency Score: {{value}}</h2>
                    <div [innerHTML]="explanationValue"></div>
                </div>
            </mat-card-content>
        </mat-card>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" label="Competency 2">
        <form [formGroup]="thirdFormGroup">
            <input hidden matInput formControlName="goodWork">
        </form>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Doing Good Work</mat-card-title>
                <mat-card-subtitle>What it looks like to do good work</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="card-padding">
                    <mat-slider thumbLabel step="1" min="0" max="4"
                        aria-label="units" [(ngModel)]="value2" (change)="updateForm2(value2)"
                        (input)="updateLabel2($event)">
                    </mat-slider>
                    <h2>Competency Score: {{value2}}</h2>
                    <div [innerHTML]="explanationValue2"></div>
                </div>
            </mat-card-content>
        </mat-card>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>


    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>